<nav class="navBarCarRental">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CarRental</a>
    <!-- Toggle Responsive __________________-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Elementi navbar __________________-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Auto</a>
        <a class="nav-link" href="#">Profilo</a>
      </div>
    </div>
  </div>
</nav>
