<div *ngIf="loginErrorMessage" class="alert alert-danger mt-5" role="alert">
  {{loginErrorMessage}}
</div>

<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <div class="mb-3">
    <label for="email" class="form-label">Indirizzo email</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password"/>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
