<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="bootstrapForms">
  <div class="mb-3">
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
  </div>
  <div class="mb-3">
    <label>
      Nome:
      <input type="text" formControlName="name">
    </label>
  </div>
  <div class="mb-3">
    <label>
      Cognome:
      <input type="text" formControlName="surname">
    </label>
  </div>
  <div class="mb-3">
    <label>
      Data di nascita:
      <input type="text" formControlName="birthDate">
    </label>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Salva</button>
</form>
