<table>
  <thead>
    <tr>
      <th *ngFor="let head of config.headers">
        <span (click)="orderBy(head.key)">{{head.label}} {{head.icon}}</span>
        <span (click)="toggleFilter(head.key)" [ngClass]="head.searchCss">🔎</span>
      </th>
      <th>
        <label for="search"></label>
        <input [ngModel]="config.search.text" (ngModelChange)="filtra($event)" type="text" id="search" placeholder="Filtra colonne">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of renderedData | paginationPipe : config.pagination.itemPerPage : config.pagination.currentPage">
      <td *ngFor="let head of config.headers">{{obj[head.key]}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <span>Visualizza </span>
      <input id="itemPerPage" type="text" [(ngModel)]="config.pagination.itemPerPage">
      <span> elementi</span>
    </tr>
  </tfoot>
</table>
