<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th *ngFor="let head of config.headers" scope="col">
        <span (click)="orderBy(head.key)">{{head.label}} {{head.icon}}</span>
        <span (click)="toggleFilter(head.key)" [ngClass]="head.searchCss">🔎</span>
      </th>
      <th>
        <label for="search"></label>
        <input [ngModel]="config.search.text" (ngModelChange)="filtra($event)" type="text" id="search" placeholder="Filtra colonne" class="form-control">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of renderedData | paginationPipe : config.pagination.itemPerPage : config.pagination.currentPage">
      <td *ngFor="let head of config.headers">{{obj[head.key]}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td [colSpan]="config.headers.length + 1" >
        <div class="horizontalAlignTd">
          <span>Visualizza </span>
          <select [(ngModel)]="config.pagination.itemPerPage" name="itemPerPage" id="itemPerPage" class="form-select tableNumberInput">
            <option *ngFor="let option of config.pagination.itemPerPageOptions" value="{{option}}">{{option}}</option>
          </select>
          <span> elementi</span>
        </div>
      </td>
    </tr>
    <tr >
      <td [colSpan]="config.headers.length + 1">
        <div class="horizontalAlignTd">
          <span (click)="previousPage()">< </span>
          <input [(ngModel)]="config.pagination.currentPage" type="text" class="form-control tableNumberInput">
          <span (click)="nextPage()"> ></span>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
